<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Gerenciar Fotógrafos</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body>
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Gerenciar Fotógrafos</h1>

    <!-- Formulário com a tabela -->
    <form th:action="@{/admin/photographers/suspend}" method="post">
        <!-- Tabela de fotógrafos -->
        <table class="table-auto w-full border-collapse border border-gray-200">
            <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2">Nome</th>
                <th class="border border-gray-300 px-4 py-2">Email</th>
                <th class="border border-gray-300 px-4 py-2">Status</th>
                <th class="border border-gray-300 px-4 py-2">Suspender</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="photographer : ${photographers}">
                                <td class="border border-gray-300 px-5 py-2 text-center" th:text="${photographer.name}"></td>
                <td class="border border-gray-300 px-4 py-2 text-center" th:text="${photographer.email}"></td>
                <td class="border border-gray-300 px-4 py-2 text-center">
                    <span th:text="${photographer.suspended ? 'Suspenso' : 'Ativo'}"></span>
                </td>
                <td class="border border-gray-300 px-4 py-2 text-center">
                    <!-- Checkbox para seleção -->
                    <input type="checkbox"
                           name="photographerIds"
                           th:value="${photographer.id}"
                           th:checked="${photographer.suspended}">
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Botão para confirmar as alterações -->
        <div class="mt-4">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-fill px-5 py-2.5 text-center">
                Confirmar Alterações
            </button>
        </div>
    </form>
</div>
</body>
</html>
