<div th:fragment="menu" class="bg-gray-100">
    <header class="bg-gray-100 text-gray-800 shadow-md">
        <div class="container mx-auto flex justify-between items-center p-4">
            <!-- Logo -->
            <a href="/" th:href="@{/}" class="text-xl font-bold text-gray-900">Kodak</a>

            <!-- Mobile Menu Toggle -->
            <button
                    id="menu-toggle"
                    class="lg:hidden text-gray-800 focus:outline-none"
            >
                <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>

            <div class="max-w-md mx-auto w-full" >
                <label for="searchInput" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="text" id="searchInput" onkeydown="if(event.key === 'Enter') searchPhotographers()"  onkeyup="searchPhotographers()" class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500" placeholder="Procure por outros fotógrafos..." required />
                    <button type="button" onclick="searchPhotographers()" class="text-gray-700 absolute end-2.5 top-1.5 bg-white hover:bg-black hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
                    <div id="results" class="absolute bg-white w-full text-black z-50">
                        <!-- Aqui será renderizada a lista de fotógrafos -->
                    </div>
                </div>

            </div>

            <!-- Navigation Menu -->
            <nav
                    id="menu"
                    class="hidden lg:flex flex-col lg:flex-row items-center lg:space-x-6"
            >

                <!--  <a href="/" th:href="@{/}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 hover:text-gray-900 rounded">Início</a>
                <a href="/post" th:href="@{/post}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 hover:text-gray-900 rounded">Postar</a>
                <a href="/profile" th:href="@{/profile}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 hover:text-gray-900 rounded">Editar Perfil</a> -->
                <a href="/admin" th:href="@{/admin}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 hover:text-gray-900 rounded">Acesso Administrativo</a>
                <a href="/logout" th:href="@{/login/logout}" class="block py-2 px-4 text-gray-700 hover:bg-gray-200 hover:text-gray-900 rounded">Sair</a>
            </nav>
        </div>
    </header>

    <!-- Optional JavaScript for Menu Toggle -->
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            const menu = document.getElementById('menu');
            menu.classList.toggle('hidden');
        });

        function searchPhotographers() {
            const query = document.getElementById('searchInput').value;

            // Se a busca estiver vazia, não faça a chamada ao back-end
            if (query.length === 0) {
                document.getElementById('results').innerHTML = '';
                return;
            }

            // Chama o back-end para buscar fotógrafos
            fetch(`/photographer/search?name=${query}`)
                .then(response => response.json())
                .then(data => {
                    const resultsContainer = document.getElementById('results');
                    resultsContainer.innerHTML = '';
                    if (data.length > 0) {
                        // Exibe a lista de fotógrafos
                        data.forEach(photographer => {
                            const photographerElement = document.createElement('div');
                            photographerElement.classList.add('p-2', 'border-b', 'border-gray-200');
                            photographerElement.innerHTML = `
                            <a href="/photographer/home?photographerId=${photographer.id}" class="text-sm text-black block hover:bg-black hover:text-white p-2">${photographer.name}</a>
                        `;
                            resultsContainer.appendChild(photographerElement);
                        });
                    } else {
                        resultsContainer.innerHTML = '<p class="p-2">Nenhum fotógrafo encontrado</p>';
                    }
                })
                .catch(error => console.error('Erro ao buscar fotógrafos:', error));
        }

    </script>
</div>
