<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{/layout/layout}" th:with="title='Home'"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
</head>
<body>
    <div layout:fragment="content" class="flex flex-col h-full">

        <div class="alert alert-success text-center" th:if="${successMessage}" th:text="${successMessage}"></div>
        <div class="alert alert-danger text-center" th:if="${errorMessage}" th:text="${errorMessage}"></div>

        <!-- Perfil do Fotógrafo -->
        <div class="h-32 m-auto bg-gray-100 w-2/3 border-gray-400 rounded-lg relative">
            <div class="flex h-full w-full text-xs gap-12 justify-center items-center">
                <!-- Foto de Perfil -->
                <div class="flex h-full items-center">
                    <img th:src="@{${photographer.profilePicPath}}"
                         alt="Foto de Perfil"
                         class="w-24 h-24 rounded-full border-2 border-solid border-black object-cover" />
                </div>
                <!-- Informações do Fotógrafo -->
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row justify-center">
                        <p class="font-bold text-2xl" th:text="${photographer.name}">Nome do Usuário</p>
                    </div>
                    <div class="flex gap-6 justify-center text-center text-lg">
                        <div class="flex flex-col">
                            <p>Publicações</p>
                            <p th:text="${#lists.size(photographer.photos)}"></p>
                        </div>
                        <div class="flex flex-col">
                            <p>Seguidores</p>
                            <p th:text="${#lists.size(photographer.followers)}"></p>
                        </div>
                        <div class="flex flex-col">
                            <p>Seguindo</p>
                            <p th:text="${#lists.size(photographer.following)}"></p>
                        </div>
                    </div>
                </div>


                <div th:if ="${owner}" class="flex h-full gap-2 group absolute right-5">
                    <div class="flex items-center justify-center">
                        <i id="lock-icon" class="fa-solid fa-lock fa-2xl w-16 text-center"></i>
                    </div>
                    <label class="inline-flex items-center cursor-pointer">
                        <form th:action="@{/photographer/lockStatus}" method="post">
                        <input type="checkbox" id="toggle-lock" name="locked" value="true" th:checked="${photographer.lockedFollow}"  onchange="document.getElementById('submit-btn').click()" class="sr-only peer">
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            <button type="submit" id="submit-btn" hidden></button>
                        </form>
                    </label>

                    <!-- Tooltip -->
                    <span class="absolute top-5 left-1/2 -translate-x-1/2 mb-2 hidden w-max bg-black text-white text-sm rounded px-2 py-1 group-hover:flex items-center">
        Permita ou bloqueie novos seguidores!
    </span>
                </div>

                <div th:unless ="${owner}" class="flex h-full gap-2 group absolute top-12 right-7">
                    <div class="items-center justify-center w-2/3 text-center">
                        <form th:action="@{/photographer/followUser}" method="post">
                        <input type="hidden" name="photographerId" th:value="${photographer.id}" />

                        <button th:if="${follow}"  type="submit" class="inline-block font-bold py-2 px-2 bg-black text-white border-black border-2 rounded-lg hover:bg-white hover:text-black">
                            <i class="fa-solid fa-user-plus fa-2xl"></i>

                        </button>

                            <button th:unless="${follow}" type="submit" class="inline-block font-bold py-2 px-2 bg-white text-black border-black border-2 rounded-lg cursor-not-allowed" disabled>
                                <i class="fa-solid fa-user-plus fa-2xl"></i>

                            </button>
                            </form>
                    </div>

                </div>


            </div>
        </div>

        <!-- Botão Nova Publicação -->
        <div th:if ="${owner}" class="mt-6 mx-auto w-2/3 text-center">
            <a th:href="@{/photographer/new-photo(photographerId=${photographer.id})}"
               class="inline-block py-2 px-4 bg-black text-white border-black border-2 font-medium rounded-lg hover:bg-white hover:text-black">
                Nova Publicação
            </a>
        </div>
        <!-- Galeria de Fotos -->
        <div class="mx-auto mt-8 grid grid-cols-2 w-1/2 md:grid-cols-3 gap-2">
            <div th:each="photo : ${photographer.photos}" class="flex w-full h-full bg-gray-300 rounded-lg justify-center items-center overflow-hidden">
                <!-- Renderiza cada foto do fotógrafo -->
                <a th:href="@{/photo/post(photoId=${photo.id})}">
                    <img th:src="@{${photo.path}}"
                         alt="Foto Publicada"
                         class="w-full h-64 object-cover transition-transform duration-300 ease-in-out transform hover:scale-110">
                </a>
            </div>
        </div>

    </div>

    <script layout:fragment="script">
        // document.getElementById('toggle-lock').addEventListener('change', function () {
        //     const lockIcon = document.getElementById('lock-icon');
        //     if (this.checked) {
        //         lockIcon.classList.remove('fa-lock-open');
        //         lockIcon.classList.add('fa-lock');
        //     } else {
        //         lockIcon.classList.remove('fa-lock');
        //         lockIcon.classList.add('fa-lock-open');
        //     }
        // });

    </script>
</body>
</html>
