<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="title='Nova Publicação'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
</head>
<body>
<div layout:fragment="content" class="flex flex-col h-full">
    <div class="max-w-md h-3/4 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-lg">
        <h2 class="text-xl font-bold text-gray-800 mb-6 text-center">Nova Publicação</h2>
        <form id="photoform" th:action="@{/photographer/upload-photo}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="photographerId" th:value="${photographerId}" />

            <div th:if="${error}" class="text-sm font-semibold text-red-600">
                <p th:text="${error}"></p>
            </div>

            <div class="mb-6">
                <label for="photo" class="block text-sm font-medium text-gray-700">Escolha uma foto</label>
                <input type="file" name="photo" id="photo" required
                       class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer focus:outline-none">
            </div>

            <div class="w-full">
                <div class="mb-6 flex w-full items-center justify-center">
                    <div class="relative group">
                        <button id="dropdown-button" type="button" class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
                            <span class="mr-2">Selecionar tags</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div id="dropdown-menu" class="hidden absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 p-1 space-y-1">
                            <!-- Search input -->
                            <input id="search-input" class="block w-full px-4 py-2 text-gray-800 border rounded-md  border-gray-300 focus:outline-none" type="text" value="#" placeholder="" oninput="searchHashTags()" autocomplete="off">
                            <!-- Dropdown content goes here -->
                            <div id="tagresults"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="selected-tags" class="flex flex-wrap gap-2 my-4"></div>


            <div class="mb-6">
                <label for="description" class="block text-sm font-medium text-gray-700">Descrição (opcional)</label>
                <textarea name="description" id="description" rows="3"
                          class="p-2 mt-1 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-500 focus:border-blue-500"></textarea>
            </div>

            <div class="text-center">
                <button type="submit"
                        class="py-2 px-6 bg-black text-white font-medium rounded-lg hover:bg-gray-700">
                    Publicar
                </button>
            </div>
        </form>
    </div>
    <script>
        // JavaScript to toggle the dropdown
        const dropdownButton = document.getElementById('dropdown-button');
        const dropdownMenu = document.getElementById('dropdown-menu');
        const searchInput = document.getElementById('search-input');
        let isOpen = false; // Set to true to open the dropdown by default
        const selectedTagsContainer = document.getElementById("selected-tags");
        const selectedTags = new Set(); // Usamos um Set para evitar duplicatas

        // Function to toggle the dropdown state
        function toggleDropdown() {
            isOpen = !isOpen;
            dropdownMenu.classList.toggle('hidden', !isOpen);
        }

        function searchHashTags() {
            const query = document.getElementById('search-input').value.trim();
            const resultsContainer = document.getElementById('tagresults');

            if (query.length === 0) {
                document.getElementById('tagresults').innerHTML = '';
                return;
            }
            fetch(`/tag/search?name=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(hashtags => {
                    resultsContainer.innerHTML = '';
                    console.log(hashtags)
                    if (!hashtags || hashtags.length === 0 ) {
                        resultsContainer.innerHTML = '<a id="newtag" class="block text-gray-700 px-4 py-2 hover:bg-gray-100 cursor-pointer rounded-md">'+query+'</a>';
                        const newtagItem = document.getElementById('newtag')
                        newtagItem.addEventListener("click", () => {
                            addTag(query)
                            toggleDropdown()
                            searchInput.value = ''
                        });

                        return;
                    }
                    hashtags.forEach(tag => {
                        const item = document.createElement('a');
                        item.href = "#";
                        item.classList.add("block", "px-4", "py-2", "text-gray-700", "hover:bg-gray-100", "cursor-pointer", "rounded-md");
                        item.textContent = tag;
                        item.addEventListener("click", () => {
                            addTag(tag)
                            toggleDropdown()
                            // searchInput.value = ''
                        });
                        resultsContainer.appendChild(item);

                    });
                })
                .catch(error => console.error("Erro ao buscar hashtags:", error));
        }
        function addTag(tag) {
            if (selectedTags.has(tag)) return; // Evita duplicatas

            selectedTags.add(tag);

            const chip = document.createElement("div");
            chip.classList.add("flex", "items-center", "bg-black", "text-white", "rounded-sm", "px-3", "py-1", "text-sm", "cursor-default");
            chip.textContent = tag;
            console.log(selectedTags)

            // Botão de remover
            const removeBtn = document.createElement("span");
            removeBtn.textContent = " ×";
            removeBtn.classList.add("ml-2", "cursor-pointer", "text-white", "font-bold");
            removeBtn.addEventListener("click", () => {
                selectedTags.delete(tag);
                chip.remove();
            });

            chip.appendChild(removeBtn);
            selectedTagsContainer.appendChild(chip);

            // Criando um input oculto para enviar no formulário
            const hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "hashtags"; // Isso garante que os dados sejam enviados no POST
            hiddenInput.value = tag;
            document.getElementById("photoform").appendChild(hiddenInput);
        }
        // Set initial state
        // toggleDropdown();

        dropdownButton.addEventListener('click', () => {
            toggleDropdown();
        });

        searchInput.addEventListener("input", (event) => {
            if (!event.target.value.startsWith("#")) {
                event.target.value = "#" + event.target.value.replace(/^#/, "");
            }
        });

    </script>
</div>
</body>

</html>
