<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}" th:with="title='Nova Publicação'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
</head>
<body>
<div layout:fragment="content" class="flex flex-col h-full">
    <div class="max-w-md h-3/4 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-lg">
        <h2 class="text-xl font-bold text-gray-800 mb-6 text-center">Nova Publicação</h2>
        <form th:action="@{/photographer/upload-photo}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="photographerId" th:value="${photographerId}" />

            <div class="mb-6">
                <label for="photo" class="block text-sm font-medium text-gray-700">Escolha uma foto</label>
                <input type="file" name="photo" id="photo" required
                       class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer focus:outline-none">
            </div>

            <div>
                <div class="max-w-md mx-auto w-full mb-6">
                    <label for="searchInput" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="text" id="searchInput" onkeydown="if(event.key === 'Enter') searchPhotographers()" onkeyup="searchPhotographers()" class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500" placeholder="Buscar tags" required />
                        <button type="button" onclick="searchPhotographers()" class="text-gray-700 absolute end-2.5 top-1.5 bg-white hover:bg-black hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
                        <div id="results" class="absolute bg-white w-full text-black z-50">
                            <!-- Aqui será renderizada a lista de fotógrafos -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="mb-6">
                <label for="description" class="block text-sm font-medium text-gray-700">Descrição (opcional)</label>
                <textarea name="description" id="description" rows="3"
                          class="p-2 mt-1 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-500 focus:border-blue-500"></textarea>
            </div>

            <div class="text-center">
                <button type="submit"
                        class="py-2 px-6 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700">
                    Publicar
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
